<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document Not Found</title>
</head>
<body>
    <div class="center">
        <h1>Sorry, we couldn't find the page you were looking for</h1>
        <div>
            <img src="/images/numbers/number4.jpg" alt="4">
            <img src="/images/numbers/number0.jpg" alt="0">
            <img src="/images/numbers/number4.jpg" alt="4">
        </div>
    </div>
    <nav>
        <a href="/">
            <button>Home</button>
        </a>
    </nav>
</body>
</html>
